<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangcg.basesystem.mytest.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.zhangcg.basesystem.mytest.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_name, product_count, product_price, product_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhangcg.basesystem.mytest.model.Product">
    insert into product (id, product_name, product_count, 
      product_price, product_type)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productCount,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL}, #{productType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhangcg.basesystem.mytest.model.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productType != null">
        product_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangcg.basesystem.mytest.model.Product">
    update product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangcg.basesystem.mytest.model.Product">
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_count = #{productCount,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_type = #{productType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>